* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1652932445028-3d46b633c28e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}
.container {
  color: #101010;
  border: 3px solid #133337;
  width: 700px;
  height: 800px;
  margin: 40px auto;
  background-color: #e6e6fa;
  border-radius: 20px;
  animation: scale 4s;
}
.results {
  height: 600px;
  border: 2px solid #133337;
  width: 450px;
  margin: 10px auto;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: #ffe4e1;
}
.container h1 {
  padding: 10px;
}
.input {
  width: 450px;
  border-radius: 10px;
  line-height: 30px;
  padding-left: 10px;
  border: none;
  background-color: #ffe4e1;
  outline: none;
}
@keyframes scale {
  from{
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
